node-red-webhook-payload.flows.json
[{"id":"a75b29539cb0dbb6","type":"subflow","name":"Merakified Liquid Parser","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"ee4a6eccf16640e0"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"ee4a6eccf16640e0","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ee4a6eccf16640e0","type":"function","z":"a75b29539cb0dbb6","name":"Merakified Liquid Parser","func":"//var { Liquid } = require('liquidjs');\n\nvar engine = new Liquid.Liquid();\nengine.registerFilter('json_markdown', v => {\n  return JSON.stringify(JSON.stringify(v, null, 4).replace(/\"/g, \"\").replace(/{/g,\"\").replace(/}/g,\"\").replace(/,/g,\"\")).replace(/\"/g, \"\")\n});\n\nengine.registerFilter(\"jsonify\", (v) => {\n  return JSON.stringify(v);\n});\n\nengine.registerFilter(\"keys\", (v) => {\n  return Object.keys(v) || [];\n});\n\nengine.registerFilter(\"dig\", (v, ...arg) => {\n  return _.get(v,[...arg])\n});\n\ntry{\n    engine\n    .parseAndRender(msg.template, msg.alert)\n    .then(rendered => {\n        msg.payload = rendered;\n        node.send(msg)\n        })\n    .catch(err => node.error(err))  \n}catch(e){\n    node.error(e)\n}\n   \n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"Liquid","module":"liquidjs"}],"x":190,"y":80,"wires":[[]]},{"id":"0d441834c198ecaa","type":"tab","label":"Webhook Payload Tester","disabled":false,"info":""},{"id":"0587b7eef04dc6bd","type":"group","z":"0d441834c198ecaa","name":"Mock Webhook Receiver","style":{"label":true,"color":"#777777","fill":"#bfc7d7"},"nodes":["1946dd48725015ad","91718b30fba7b4d3","93076c66cf3df14f","26b5ba011a799ae4"],"x":34,"y":599,"w":732,"h":122},{"id":"1ed309c0167b38b9","type":"group","z":"0d441834c198ecaa","name":"Test Webhook Payload Template","style":{"label":true,"color":"#777777","fill":"#e3f3d3"},"nodes":["a6e5c6bd6ae643de","e174b15bb512dc34","36ec6b5892ade3c4","fe5bebb75aed354e","f0a422e4d7d64709","b98ccf5895ed1b46","34b6853905a0f3e5","1f29294496039a42","fc06f4ece433fc1d","bd68bcc089b6e04e","ba95af1884a721a0","60540897184b3ab0","bf2ea9a6b8c1b793","8dfb28ce9f79e6e9","8f9a4d834c085689","4a1149e51d941341","3c69904f6c527a2d","bb65d9fbf8bd20b2","0acdf126cdc340e4","f03015aff2033eac"],"x":34,"y":19,"w":1042,"h":442},{"id":"bd68bcc089b6e04e","type":"comment","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Test Webhook Payload Template","info":"","x":190,"y":60,"wires":[]},{"id":"7448ba6e44429ddf","type":"group","z":"0d441834c198ecaa","name":"Meraki Management","style":{"fill":"#c8e7a7","label":true,"color":"#777777"},"nodes":["1503a7fe409674fd","dd64564688a863dc","a5c069de960c8591","2f01fa0395f502e9","dbc48f77c2e7cb50","1a78f5d38ca2fbdf","8512e9b6052a93c8","e2a888b6451962c2","eecbad7cfc93f6f8","3aa7a27b17471039","636c96bf82765d3f","f4746d2e9a8174d3","45aeddfa7def278b","b04db97291a4bf4d","a61f8166696b2982","a20b328fda8517b6","7dd1b112cf6a5656","13502a999664b8f9","923e429cd5c2e5e8","d82f3bc481be385b","6f6c966f9fcdda59","f52fdae81939417e","b6ecc2590c94976c","b08545d278b67958","62854ab584e4c639","d4b8bc66ddf33538"],"x":34,"y":759,"w":1132,"h":642},{"id":"8acf077de53a0350","type":"group","z":"0d441834c198ecaa","name":"Send Test Webhook","style":{"fill":"#ffefbf","label":true,"color":"#777777"},"nodes":["81ccc9144c65f273","3cebe76c5bf292da","2168deb3fb5fac84","c5caeaf211c2de7d"],"x":34,"y":499,"w":892,"h":82},{"id":"1946dd48725015ad","type":"http in","z":"0d441834c198ecaa","g":"0587b7eef04dc6bd","name":"","url":"/webhooks/test","method":"post","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["93076c66cf3df14f"]]},{"id":"91718b30fba7b4d3","type":"debug","z":"0d441834c198ecaa","g":"0587b7eef04dc6bd","name":"/webhooks/test","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":680,"wires":[]},{"id":"93076c66cf3df14f","type":"json","z":"0d441834c198ecaa","g":"0587b7eef04dc6bd","name":"","property":"payload","action":"","pretty":false,"x":390,"y":640,"wires":[["26b5ba011a799ae4","91718b30fba7b4d3"]]},{"id":"26b5ba011a799ae4","type":"http response","z":"0d441834c198ecaa","g":"0587b7eef04dc6bd","name":"","statusCode":"201","headers":{},"x":620,"y":640,"wires":[]},{"id":"a6e5c6bd6ae643de","type":"inject","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Test Webhook - Static","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":100,"wires":[["36ec6b5892ade3c4"]]},{"id":"e174b15bb512dc34","type":"debug","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":420,"wires":[]},{"id":"36ec6b5892ade3c4","type":"template","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Alert: Motion detected","field":"alert","fieldType":"msg","format":"json","syntax":"plain","template":"{\n    \"version\": \"0.1\",\n    \"sharedSecret\": \"\",\n    \"sentAt\": \"2021-05-11T08:09:00.077612Z\",\n    \"organizationId\": \"2930418\",\n    \"organizationName\": \"My organization\",\n    \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n    \"networkId\": \"N_24329156\",\n    \"networkName\": \"Main Office\",\n    \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n    \"networkTags\": [\n        \"region-1\",\n        \"corporate\"\n    ],\n    \"deviceSerial\": \"Q234-ABCD-5678\",\n    \"deviceMac\": \"00:11:22:33:44:55\",\n    \"deviceName\": \"My AP\",\n    \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n    \"deviceTags\": [\n        \"tag1\",\n        \"tag2\"\n    ],\n    \"deviceModel\": \"MR34\",\n    \"alertId\": \"0000000000000000\",\n    \"alertType\": \"Motion detected\",\n    \"alertTypeId\": \"motion_alert\",\n    \"alertLevel\": \"informational\",\n    \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n    \"alertData\": {\n        \"imageUrl\": \"https://cataas.com/cat\",\n        \"timestamp\": 1563499479.547,\n        \"motionRecapEnabled\": true,\n        \"motionDetectorAllowsRecap\": true,\n        \"isSpyglass\": false,\n        \"imageEnabled\": true\n    }\n}","output":"json","x":440,"y":100,"wires":[["fe5bebb75aed354e"]]},{"id":"fe5bebb75aed354e","type":"template","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Template: headers.liquid ","field":"template","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{}","output":"str","x":390,"y":200,"wires":[["4a1149e51d941341","f0a422e4d7d64709"]]},{"id":"f0a422e4d7d64709","type":"subflow:a75b29539cb0dbb6","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Liquid Parser","env":[],"x":630,"y":240,"wires":[["34b6853905a0f3e5"]]},{"id":"b98ccf5895ed1b46","type":"change","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[["e174b15bb512dc34","fc06f4ece433fc1d","60540897184b3ab0"]]},{"id":"34b6853905a0f3e5","type":"change","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["ba95af1884a721a0"]]},{"id":"1f29294496039a42","type":"subflow:a75b29539cb0dbb6","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Liquid Parser","env":[],"x":630,"y":360,"wires":[["b98ccf5895ed1b46"]]},{"id":"fc06f4ece433fc1d","type":"debug","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":420,"wires":[]},{"id":"ba95af1884a721a0","type":"template","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Template: body.liquid","field":"template","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{% capture markdown %}\n### {{alertType}}\nAlert ID: {{alertId}}\nAlert level: {{alertLevel}}\nOccurred at: {{occurredAt}}\n\nOrganization name: {{organizationName}}\nOrganization ID: {{organizationId}}\nNetwork name: {{networkName}}\nNetwork ID: {{networkId}}\n\nDevice name: {{deviceName}}\nDevice serial: {{deviceSerial}}\nDevice MAC: {{deviceMac}}\nDevice tags: {{deviceTags | jsonify}}\nDevice model: {{deviceModel}}\n\nAlert Data\n>>\n{{alertData | json_markdown}}\n{%- endcapture -%}\n{\n    \"sentAt\": \"{{sentAt}}\",\n    \"markdown\": {{markdown | jsonify}},\n    \"networkId\": \"{{networkId}}\"\n}","output":"str","x":380,"y":320,"wires":[["1f29294496039a42","8f9a4d834c085689"]]},{"id":"60540897184b3ab0","type":"link out","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Webhook","links":["c5caeaf211c2de7d"],"x":1035,"y":420,"wires":[]},{"id":"81ccc9144c65f273","type":"http request","z":"0d441834c198ecaa","g":"8acf077de53a0350","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":540,"wires":[["3cebe76c5bf292da"]]},{"id":"3cebe76c5bf292da","type":"debug","z":"0d441834c198ecaa","g":"8acf077de53a0350","name":"Server Response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]},{"id":"2168deb3fb5fac84","type":"change","z":"0d441834c198ecaa","g":"8acf077de53a0350","name":"URL: http://localhost:1880/webhooks/test","rules":[{"t":"set","p":"url","pt":"msg","to":"http://localhost:1880/webhooks/test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":540,"wires":[["81ccc9144c65f273"]]},{"id":"c5caeaf211c2de7d","type":"link in","z":"0d441834c198ecaa","g":"8acf077de53a0350","name":"","links":["60540897184b3ab0"],"x":75,"y":540,"wires":[["2168deb3fb5fac84"]]},{"id":"bf2ea9a6b8c1b793","type":"comment","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Meraki Alert","info":"","x":130,"y":160,"wires":[]},{"id":"8dfb28ce9f79e6e9","type":"comment","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Headers Template","info":"","x":150,"y":220,"wires":[]},{"id":"74d40fd86ceac605","type":"comment","z":"0d441834c198ecaa","name":"Body Template","info":"","x":140,"y":300,"wires":[]},{"id":"1503a7fe409674fd","type":"http request","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":920,"wires":[["dbc48f77c2e7cb50"]]},{"id":"dd64564688a863dc","type":"function","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Meraki API: List network payload templates","func":"var networkId = flow.get('networkId')\nvar apiKey = flow.get('apiKey')\nmsg.url = \"https://api.meraki.com/api/v1/networks/\"+networkId+\"/webhooks/payloadTemplates\"\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+apiKey\n}\nmsg.method = \"GET\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":920,"wires":[["1503a7fe409674fd"]]},{"id":"a5c069de960c8591","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Get payload templates","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":920,"wires":[["dd64564688a863dc"]]},{"id":"2f01fa0395f502e9","type":"change","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Env: UPDATE ME","rules":[{"t":"set","p":"apiKey","pt":"flow","to":"","tot":"str"},{"t":"set","p":"networkId","pt":"flow","to":"L_643451796760561416","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":800,"wires":[[]]},{"id":"dbc48f77c2e7cb50","type":"debug","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"payload templates","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":920,"wires":[]},{"id":"1a78f5d38ca2fbdf","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Init Meraki Settings","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":170,"y":800,"wires":[["2f01fa0395f502e9"]]},{"id":"8512e9b6052a93c8","type":"http request","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":860,"wires":[["3aa7a27b17471039"]]},{"id":"e2a888b6451962c2","type":"function","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Meraki API: List network HTTP servers","func":"var networkId = flow.get('networkId')\nvar apiKey = flow.get('apiKey')\nmsg.url = \"https://api.meraki.com/api/v1/networks/\"+networkId+\"/webhooks/httpServers\"\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+apiKey\n}\nmsg.method = \"GET\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":860,"wires":[["8512e9b6052a93c8"]]},{"id":"eecbad7cfc93f6f8","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Get network HTTP servers","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":860,"wires":[["e2a888b6451962c2"]]},{"id":"3aa7a27b17471039","type":"debug","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"HTTP servers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":860,"wires":[]},{"id":"636c96bf82765d3f","type":"http request","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1020,"wires":[["b04db97291a4bf4d","b6ecc2590c94976c"]]},{"id":"f4746d2e9a8174d3","type":"function","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Meraki API: New payload template","func":"var networkId = flow.get('networkId')\nvar apiKey = flow.get('apiKey')\nvar name = flow.get('templateName')\nmsg.url = \"https://api.meraki.com/api/v1/networks/\"+networkId+\"/webhooks/payloadTemplates\"\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+apiKey\n}\nmsg.method = \"POST\"\nmsg.payload = {\n    \"name\": name,\n    \"headers\": flow.get('templateHeaders'),\n    \"body\": flow.get('templateBody')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1060,"wires":[["636c96bf82765d3f"]]},{"id":"45aeddfa7def278b","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"New payload template","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1020,"wires":[["a20b328fda8517b6"]]},{"id":"b04db97291a4bf4d","type":"debug","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"New payload template","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1020,"wires":[]},{"id":"8f9a4d834c085689","type":"change","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","rules":[{"t":"set","p":"templateBody","pt":"flow","to":"template","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":320,"wires":[[]]},{"id":"a61f8166696b2982","type":"comment","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Create a new payload template (that was just tested)","info":"","x":250,"y":980,"wires":[]},{"id":"a20b328fda8517b6","type":"change","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Template Name: UPDATE ME","rules":[{"t":"set","p":"templateName","pt":"flow","to":"Node-RED Test","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1020,"wires":[["f4746d2e9a8174d3"]]},{"id":"4a1149e51d941341","type":"change","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","rules":[{"t":"set","p":"templateHeaders","pt":"flow","to":"template","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":200,"wires":[[]]},{"id":"7dd1b112cf6a5656","type":"http request","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":1180,"wires":[["d82f3bc481be385b"]]},{"id":"13502a999664b8f9","type":"function","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Meraki API: Update payload template","func":"var networkId = flow.get('networkId')\nvar apiKey = flow.get('apiKey')\nvar name = flow.get('templateName')\nvar payloadTemplateId = flow.get('payloadTemplateId')\nmsg.url = \"https://api.meraki.com/api/v1/networks/\"+networkId+\"/webhooks/payloadTemplates/\"+payloadTemplateId;\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+apiKey\n}\nmsg.method = \"PUT\"\nmsg.payload = {\n    \"name\": name,\n    \"headers\": flow.get('templateHeaders'),\n    \"body\": flow.get('templateBody')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1220,"wires":[["7dd1b112cf6a5656"]]},{"id":"923e429cd5c2e5e8","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Update payload template","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1180,"wires":[["f52fdae81939417e"]]},{"id":"d82f3bc481be385b","type":"debug","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Updated payload template","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":1180,"wires":[]},{"id":"6f6c966f9fcdda59","type":"comment","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Upate a payload template (that was just created)","info":"","x":240,"y":1140,"wires":[]},{"id":"f52fdae81939417e","type":"change","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Template Name: UPDATE ME","rules":[{"t":"set","p":"templateName","pt":"flow","to":"Node-RED Test Update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["13502a999664b8f9"]]},{"id":"b6ecc2590c94976c","type":"change","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"","rules":[{"t":"set","p":"payloadTemplateId","pt":"flow","to":"payload.payloadTemplateId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1060,"wires":[[]]},{"id":"3c69904f6c527a2d","type":"file in","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","filename":"headers.liquid","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":360,"y":240,"wires":[["f0a422e4d7d64709"]]},{"id":"bb65d9fbf8bd20b2","type":"file in","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"","filename":"body.liquid","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":350,"y":360,"wires":[["1f29294496039a42"]]},{"id":"91c47b90b179fe44","type":"http request","z":"0d441834c198ecaa","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":800,"y":1320,"wires":[["95a5d157f49b591b"]]},{"id":"d4b8bc66ddf33538","type":"function","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Meraki API: Delete payload template","func":"var networkId = flow.get('networkId')\nvar apiKey = flow.get('apiKey')\nvar name = flow.get('templateName')\nvar payloadTemplateId = flow.get('payloadTemplateId')\nmsg.url = \"https://api.meraki.com/api/v1/networks/\"+networkId+\"/webhooks/payloadTemplates/\"+payloadTemplateId;\nmsg.headers = {\n    \"Authorization\":\"Bearer \"+apiKey\n}\nmsg.method = \"Delete\"\nmsg.payload = {}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":1360,"wires":[["91c47b90b179fe44"]]},{"id":"62854ab584e4c639","type":"inject","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Delete payload template","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1320,"wires":[["e4ba4f8199da996f"]]},{"id":"95a5d157f49b591b","type":"debug","z":"0d441834c198ecaa","name":"Deleted payload template","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1320,"wires":[]},{"id":"b08545d278b67958","type":"comment","z":"0d441834c198ecaa","g":"7448ba6e44429ddf","name":"Delete a payload template (that was just created)","info":"","x":240,"y":1280,"wires":[]},{"id":"e4ba4f8199da996f","type":"change","z":"0d441834c198ecaa","name":"Template Name: UPDATE ME","rules":[{"t":"set","p":"templateName","pt":"flow","to":"Node-RED Test Update","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1320,"wires":[["d4b8bc66ddf33538"]]},{"id":"f03015aff2033eac","type":"inject","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Test Webhook - Random","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":60,"wires":[["2f2032a5fac4ae97"]]},{"id":"2f2032a5fac4ae97","type":"function","z":"0d441834c198ecaa","name":"Meraki Alert Examples","func":"msg.alertTypes = [\n    {\n        \"alertType\": \"DHCP leases exhausted\",\n        \"alertTypeId\": \"dhcp_no_leases\",\n        \"example\": {\n            \"alertData\": {\n                \"network\": \"192.168.1.0/24'192.168.1.254\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"DHCP leases exhausted\",\n            \"alertTypeId\": \"dhcp_no_leases\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.825639Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Client IP conflict detected\",\n        \"alertTypeId\": \"ip_conflict\",\n        \"example\": {\n            \"alertData\": {\n                \"conflictingIp\": \"192.168.1.2\",\n                \"contendingMac\": \"00:11:22:33:44:55\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Client IP conflict detected\",\n            \"alertTypeId\": \"ip_conflict\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.827574Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients have violated their geofencing policy\",\n        \"alertTypeId\": \"geofencing_out\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Clients have violated their geofencing policy\",\n            \"alertTypeId\": \"geofencing_out\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.829271Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"%%DEVICE_NOUN%% came up\",\n        \"alertTypeId\": \"started_reporting\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"%%DEVICE_NOUN%% came up\",\n            \"alertTypeId\": \"started_reporting\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.830997Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Power supply came up\",\n        \"alertTypeId\": \"power_supply_up\",\n        \"example\": {\n            \"alertData\": {\n                \"num\": 2\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Power supply came up\",\n            \"alertTypeId\": \"power_supply_up\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.832718Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Cellular came up\",\n        \"alertTypeId\": \"cellular_up\",\n        \"example\": {\n            \"alertData\": {\n                \"connection\": \"LTE\",\n                \"local\": \"192.168.1.2\",\n                \"model\": \"UML290VW\",\n                \"provider\": \"Purview Wireless\",\n                \"remote\": \"1.2.3.5\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Cellular came up\",\n            \"alertTypeId\": \"cellular_up\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.834788Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"%%DEVICE_NOUN%% went down\",\n        \"alertTypeId\": \"stopped_reporting\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"critical\",\n            \"alertType\": \"%%DEVICE_NOUN%% went down\",\n            \"alertTypeId\": \"stopped_reporting\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.836644Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Power supply went down\",\n        \"alertTypeId\": \"power_supply_down\",\n        \"example\": {\n            \"alertData\": {\n                \"num\": 2\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"critical\",\n            \"alertType\": \"Power supply went down\",\n            \"alertTypeId\": \"power_supply_down\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.838326Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Malware download detected\",\n        \"alertTypeId\": \"amp_malware_detected\",\n        \"example\": {\n            \"alertData\": {\n                \"disposition\": 3,\n                \"eventType\": \"amp_malware_detected\",\n                \"sha256\": \"ddcb8f357d86d11dfa3409f71a966e5076240445ca9825fb72e7386efc5582e4\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Malware download detected\",\n            \"alertTypeId\": \"amp_malware_detected\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.839870Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients are compliant with their security policy\",\n        \"alertTypeId\": \"pcc_security_compliance\",\n        \"example\": {\n            \"alertData\": {\n                \"pccSecurityAlertConfigId\": \"0000000000000000\",\n                \"pccSecurityPolicyId\": \"0000000000000000\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Clients are compliant with their security policy\",\n            \"alertTypeId\": \"pcc_security_compliance\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.841961Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Client connected to another network\",\n        \"alertTypeId\": \"rogue_ap_association\",\n        \"example\": {\n            \"alertData\": {\n                \"foreignBssid\": \"E2:55:7D:26:09:C0\",\n                \"mac\": \"00:11:22:33:44:55\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Client connected to another network\",\n            \"alertTypeId\": \"rogue_ap_association\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.843693Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Bluetooth Clients have become visible\",\n        \"alertTypeId\": \"bluetooth_in\",\n        \"example\": {\n            \"alertData\": {\n                \"bluetoothClientId\": \"0000000000000000\",\n                \"mac\": \"00:11:22:33:44:55\",\n                \"name\": \"\",\n                \"rowStartedAt\": {\n                    \"millisFromEpoch\": 1563208308228\n                },\n                \"rssi\": -94,\n                \"seenAt\": {\n                    \"millisFromEpoch\": 1563519260925\n                }\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Bluetooth Clients have become visible\",\n            \"alertTypeId\": \"bluetooth_in\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.845551Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Running on backup power\",\n        \"alertTypeId\": \"rps_backup\",\n        \"example\": {\n            \"alertData\": {\n                \"num\": 0\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Running on backup power\",\n            \"alertTypeId\": \"rps_backup\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.847934Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"RADIUS authentication server unreachable\",\n        \"alertTypeId\": \"unreachable_radius_server\",\n        \"example\": {\n            \"alertData\": {\n                \"isSpare\": true,\n                \"machineIp\": \"192.168.1.2\",\n                \"port\": \"1812\",\n                \"shardId\": \"207\",\n                \"srvIp\": \"server.example.com\",\n                \"ssid\": \"My SSID\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"RADIUS authentication server unreachable\",\n            \"alertTypeId\": \"unreachable_radius_server\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.849873Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients have enrolled in one of your networks\",\n        \"alertTypeId\": \"pcc_enrollment\",\n        \"example\": {\n            \"alertData\": {\n                \"deviceId\": \"0000000000000000\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Clients have enrolled in one of your networks\",\n            \"alertTypeId\": \"pcc_enrollment\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.851470Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Insight Alert\",\n        \"alertTypeId\": \"mi_alert\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Insight Alert\",\n            \"alertTypeId\": \"mi_alert\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.852566Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Devices operating at critical temperature\",\n        \"alertTypeId\": \"critical_temperature\",\n        \"example\": {\n            \"alertData\": {\n                \"action\": \"Shutdown\",\n                \"temperature\": \"Critical Level\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"critical\",\n            \"alertType\": \"Devices operating at critical temperature\",\n            \"alertTypeId\": \"critical_temperature\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.854525Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Malware download blocked\",\n        \"alertTypeId\": \"amp_malware_blocked\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Malware download blocked\",\n            \"alertTypeId\": \"amp_malware_blocked\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.856927Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Switch port disconnected\",\n        \"alertTypeId\": \"port_disconnected\",\n        \"example\": {\n            \"alertData\": {\n                \"description\": \"Switch port is down\",\n                \"portDesc\": \"Corp Access\",\n                \"portNum\": 3,\n                \"prevStatus\": \"100 Gbps\",\n                \"status\": \"down\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Switch port disconnected\",\n            \"alertTypeId\": \"port_disconnected\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.859054Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Motion detected\",\n        \"alertTypeId\": \"motion_alert\",\n        \"example\": {\n            \"alertData\": {\n                \"imageEnabled\": true,\n                \"imageUrl\": \"https://XXXXXXXXXXXXXXXXXXXXXXXXXXX.jpg\",\n                \"isSpyglass\": false,\n                \"motionDetectorAllowsRecap\": true,\n                \"motionRecapEnabled\": true,\n                \"timestamp\": 1563499479.547\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Motion detected\",\n            \"alertTypeId\": \"motion_alert\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.860726Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Unreachable devices detected\",\n        \"alertTypeId\": \"firewall_test_failed\",\n        \"example\": {\n            \"alertData\": {\n                \"failingNodes\": \"Inside AP\\nRecycle Shed AP\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Unreachable devices detected\",\n            \"alertTypeId\": \"firewall_test_failed\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.862932Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Gateway to repeater\",\n        \"alertTypeId\": \"gateway_to_repeater\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Gateway to repeater\",\n            \"alertTypeId\": \"gateway_to_repeater\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.865272Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Bluetooth Clients have gone out of range\",\n        \"alertTypeId\": \"bluetooth_out\",\n        \"example\": {\n            \"alertData\": {\n                \"bluetoothClientId\": \"0000000000000000\",\n                \"mac\": \"00:11:22:33:44:55\",\n                \"name\": \"\",\n                \"rowStartedAt\": {\n                    \"millisFromEpoch\": 1563208308228\n                },\n                \"rssi\": -94,\n                \"seenAt\": {\n                    \"millisFromEpoch\": 1563519260925\n                }\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Bluetooth Clients have gone out of range\",\n            \"alertTypeId\": \"bluetooth_out\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.867212Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Client connectivity changed\",\n        \"alertTypeId\": \"client_connectivity\",\n        \"example\": {\n            \"alertData\": {\n                \"clientName\": \"Cisco Meraki valued client\",\n                \"clientUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n                \"connected\": \"true\",\n                \"ip\": \"192.168.1.2\",\n                \"mac\": \"00:11:22:33:44:55\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Client connectivity changed\",\n            \"alertTypeId\": \"client_connectivity\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.869582Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Rogue DHCP server detected\",\n        \"alertTypeId\": \"rogue_dhcp\",\n        \"example\": {\n            \"alertData\": {\n                \"eth\": \"bb:bb:bb:11:11:11\",\n                \"ip\": \"10.20.2.62\",\n                \"subnet\": \"0.0.0.0/0\",\n                \"vlan\": \"3\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Rogue DHCP server detected\",\n            \"alertTypeId\": \"rogue_dhcp\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.871504Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Cellular went down\",\n        \"alertTypeId\": \"cellular_down\",\n        \"example\": {\n            \"alertData\": {\n                \"bytesIn\": \"1861\",\n                \"bytesOut\": \"1880\",\n                \"connectTime\": \"2\",\n                \"connection\": \"LTE\",\n                \"local\": \"192.168.1.2\",\n                \"model\": \"UML290VW\",\n                \"provider\": \"Purview Wireless\",\n                \"remote\": \"1.2.3.5\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Cellular went down\",\n            \"alertTypeId\": \"cellular_down\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.873474Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Matching software installations found\",\n        \"alertTypeId\": \"pcc_sw_found\",\n        \"example\": {\n            \"alertData\": {\n                \"installs\": [\n                    {\n                        \"pccName\": \"Miles Meraki iPhone\",\n                        \"swInstallDate\": \"2019-07-17\",\n                        \"swName\": \"TrackAbout\",\n                        \"swVendor\": \"iTunes Store\",\n                        \"swVersion\": \"7.313.132\"\n                    }\n                ],\n                \"swFoundRegex\": \".*\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Matching software installations found\",\n            \"alertTypeId\": \"pcc_sw_found\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.875580Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Returned to using primary power\",\n        \"alertTypeId\": \"rps_base_supply_up\",\n        \"example\": {\n            \"alertData\": {\n                \"num\": 0\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Returned to using primary power\",\n            \"alertTypeId\": \"rps_base_supply_up\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.877548Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"New DHCP server detected\",\n        \"alertTypeId\": \"dhcp_alerts\",\n        \"example\": {\n            \"alertData\": {\n                \"ip\": \"192.168.1.2\",\n                \"mac\": \"00:11:22:33:44:55\",\n                \"subnet\": \"192.168.1.0/24\",\n                \"vlan\": \"104\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"New DHCP server detected\",\n            \"alertTypeId\": \"dhcp_alerts\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.879356Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"MDM certificate will expire soon\",\n        \"alertTypeId\": \"pcc_expired_apns_cert\",\n        \"example\": {\n            \"alertData\": {\n                \"expiry\": \"2018-02-11T00:00:00Z\",\n                \"networkId\": \"1254235\",\n                \"topic\": \"com.apple.mgmt.External.e9908a35-405d-4b25-b513-fa55431d1374\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"MDM certificate will expire soon\",\n            \"alertTypeId\": \"pcc_expired_apns_cert\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.881643Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Meraki Umbrella Subscription Reminder\",\n        \"alertTypeId\": \"umbrella_expiring\",\n        \"example\": {\n            \"alertData\": {\n                \"daysLeft\": \"25\",\n                \"expirationDate\": \"2020-10-21\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Meraki Umbrella Subscription Reminder\",\n            \"alertTypeId\": \"umbrella_expiring\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.882963Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"VPN connectivity changed\",\n        \"alertTypeId\": \"vpn_connectivity_change\",\n        \"example\": {\n            \"alertData\": {\n                \"connectivity\": \"true\",\n                \"onSecondary\": false,\n                \"peerNetworkId\": \"N_24329156\",\n                \"peerNetworkName\": \"Corp Access\",\n                \"peerNetworkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n                \"primaryEndpoint\": \"192.168.1.1\",\n                \"secondaryEndpoint\": \"192.168.1.2\",\n                \"vap\": \"1\",\n                \"vpnType\": \"l2tpv3\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"VPN connectivity changed\",\n            \"alertTypeId\": \"vpn_connectivity_change\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.884569Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients have re-entered their geofenced area\",\n        \"alertTypeId\": \"geofencing_in\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Clients have re-entered their geofenced area\",\n            \"alertTypeId\": \"geofencing_in\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.886731Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Switch port link speed changed\",\n        \"alertTypeId\": \"port_speed_change\",\n        \"example\": {\n            \"alertData\": {\n                \"description\": \"10 Gbps to 100 Gbps\",\n                \"portDesc\": \"Corp Access\",\n                \"portNum\": 3,\n                \"prevStatus\": \"10 Gbps\",\n                \"status\": \"100 Gbps\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Switch port link speed changed\",\n            \"alertTypeId\": \"port_speed_change\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.888432Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Camera may have critical hardware failure\",\n        \"alertTypeId\": \"node_hardware_failure\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"critical\",\n            \"alertType\": \"Camera may have critical hardware failure\",\n            \"alertTypeId\": \"node_hardware_failure\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.890715Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Switch port connected\",\n        \"alertTypeId\": \"port_connected\",\n        \"example\": {\n            \"alertData\": {\n                \"description\": \"Switch port is up at 10 Gbps\",\n                \"portDesc\": \"Corp Access\",\n                \"portNum\": 3,\n                \"prevStatus\": \"down\",\n                \"status\": \"10 Gbps\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Switch port connected\",\n            \"alertTypeId\": \"port_connected\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.892141Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients went down\",\n        \"alertTypeId\": \"pcc_outage_begin\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Clients went down\",\n            \"alertTypeId\": \"pcc_outage_begin\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.893961Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Cable error detected\",\n        \"alertTypeId\": \"port_cable_error\",\n        \"example\": {\n            \"alertData\": {\n                \"description\": \"Gigabit link negotiation failed\",\n                \"portDesc\": \"Corp Access\",\n                \"portNum\": 3,\n                \"prevStatus\": \"100 Gbps\",\n                \"status\": \"10 Gbps\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Cable error detected\",\n            \"alertTypeId\": \"port_cable_error\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.895471Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Meraki Management profile removed\",\n        \"alertTypeId\": \"pcc_unmanaged\",\n        \"example\": {\n            \"alertData\": {\n                \"pccName\": \"iPhone\",\n                \"serialNumber\": \"F5XKHEBX\",\n                \"wifiMac\": \"00:11:22:33:44:55\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Meraki Management profile removed\",\n            \"alertTypeId\": \"pcc_unmanaged\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.897774Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients came up\",\n        \"alertTypeId\": \"pcc_outage_end\",\n        \"example\": {\n            \"alertData\": {},\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Clients came up\",\n            \"alertTypeId\": \"pcc_outage_end\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.899480Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"New splash user registered\",\n        \"alertTypeId\": \"new_splash_signup\",\n        \"example\": {\n            \"alertData\": {\n                \"ssidId\": \"My SSID\",\n                \"userEmail\": \"miles@meraki.com\",\n                \"userName\": \"milesmeraki\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"New splash user registered\",\n            \"alertTypeId\": \"new_splash_signup\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.900998Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Settings changed\",\n        \"alertTypeId\": \"settings_changed\",\n        \"example\": {\n            \"alertData\": {\n                \"changes\": {\n                    \"createStaticRoute\": {\n                        \"changedBy\": \"miles@meraki.com\",\n                        \"label\": \"Added static route on SP-Warehouse\",\n                        \"newText\": \"10.10.10.0/24 -> 172.16.254.253\",\n                        \"oldText\": \"\",\n                        \"ssidId\": \"My SSID\"\n                    }\n                },\n                \"name\": \"Routing and DHCP\",\n                \"url\": \"/manage/configure/switch_l3\",\n                \"userId\": \"0000000000000000\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Settings changed\",\n            \"alertTypeId\": \"settings_changed\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.903344Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Network usage alert\",\n        \"alertTypeId\": \"usage_alert\",\n        \"example\": {\n            \"alertData\": {\n                \"kbTotal\": \"115892215\",\n                \"period\": \"1200\",\n                \"usageThreshold\": \"104857600\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"informational\",\n            \"alertType\": \"Network usage alert\",\n            \"alertTypeId\": \"usage_alert\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.905639Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Uplink status changed\",\n        \"alertTypeId\": \"failover_event\",\n        \"example\": {\n            \"alertData\": {\n                \"uplink\": \"0\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Uplink status changed\",\n            \"alertTypeId\": \"failover_event\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.907176Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"UDLD error\",\n        \"alertTypeId\": \"udld_error\",\n        \"example\": {\n            \"alertData\": {\n                \"action\": \"none\",\n                \"errorType\": \"Unidirectional link (outbound fault)\",\n                \"port\": {\n                    \"modulePid\": \"\",\n                    \"moduleSlot\": 0,\n                    \"port\": 52\n                }\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"UDLD error\",\n            \"alertTypeId\": \"udld_error\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.908909Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Failover event detected\",\n        \"alertTypeId\": \"vrrp\",\n        \"example\": {\n            \"alertData\": {\n                \"electorState\": \"master\",\n                \"ifUp\": \"1\",\n                \"mode\": \"detect\",\n                \"oldIfUp\": \"0\",\n                \"oldMode\": \"detect\",\n                \"oldPrio\": \"75\",\n                \"prio\": \"75\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"critical\",\n            \"alertType\": \"Failover event detected\",\n            \"alertTypeId\": \"vrrp\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.911109Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Clients are violating their security policy\",\n        \"alertTypeId\": \"pcc_security_violation\",\n        \"example\": {\n            \"alertData\": {\n                \"pccSecurityAlertConfigId\": \"0000000000000000\",\n                \"pccSecurityPolicyId\": \"0000000000000000\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Clients are violating their security policy\",\n            \"alertTypeId\": \"pcc_security_violation\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.913242Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Air Marshal - Rogue AP detected\",\n        \"alertTypeId\": \"foreign_ap\",\n        \"example\": {\n            \"alertData\": {\n                \"firstSeenAt\": \"2018-02-11T00:00:00Z\",\n                \"lastSeenAt\": null,\n                \"ssidName\": \"My SSID\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Air Marshal - Rogue AP detected\",\n            \"alertTypeId\": \"foreign_ap\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.914869Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    },\n    {\n        \"alertType\": \"Rogue AP detected\",\n        \"alertTypeId\": \"rogue_ap\",\n        \"example\": {\n            \"alertData\": {\n                \"rssi\": \"1126462856796059000\"\n            },\n            \"alertId\": \"0000000000000000\",\n            \"alertLevel\": \"warning\",\n            \"alertType\": \"Rogue AP detected\",\n            \"alertTypeId\": \"rogue_ap\",\n            \"deviceMac\": \"00:11:22:33:44:55\",\n            \"deviceModel\": \"MR34\",\n            \"deviceName\": \"My AP\",\n            \"deviceSerial\": \"Q234-ABCD-5678\",\n            \"deviceTags\": [\n                \"tag1\",\n                \"tag2\"\n            ],\n            \"deviceUrl\": \"https://n1.meraki.com//n//manage/nodes/new_list/000000000000\",\n            \"networkId\": \"N_24329156\",\n            \"networkName\": \"Main Office\",\n            \"networkUrl\": \"https://n1.meraki.com//n//manage/nodes/list\",\n            \"occurredAt\": \"2018-02-11T00:00:00.123450Z\",\n            \"organizationId\": \"2930418\",\n            \"organizationName\": \"My organization\",\n            \"organizationUrl\": \"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\",\n            \"sentAt\": \"2020-12-10T15:14:56.916150Z\",\n            \"sharedSecret\": \"secret\",\n            \"version\": \"0.1\"\n        }\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":60,"wires":[["0acdf126cdc340e4"]]},{"id":"0acdf126cdc340e4","type":"function","z":"0d441834c198ecaa","g":"1ed309c0167b38b9","name":"Random Example selector","func":"const max = msg.alertTypes.length -1;\nconst min = 0;\n\nfunction randomInteger(min, max) {\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\nconst random = randomInteger(min,max);\n\n// send a random example\nmsg.alert = msg.alertTypes[random].example\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":60,"wires":[["fe5bebb75aed354e"]]}]